name:  "Terraform Workflow"

on:
  workflow_call:
    inputs:
      enviranment:
        type: string
        required: true
      aws-assume-role-arn:
        type: string
        required: true
      aws-region:
        type: string
        required: true
      aws-statafile-s3-bucket:
        type: string
        required: true
      aws-lock-dynamodb-table:
        type: string
        required: true

jobs:
  terraform:
    runs-on: ubutu-latest


    defaults:
      run:
        shell: bash

      steps:
       - name: Checkout code
         uses: actions/checkout@v4

       - name: Setup Terraform
         uses: hashicorp/setup-terraform@v3
         with:
           terraform_version: 1.0.3

       - name: Configure AWS credentials
         uses: aws-actions/configure-aws-credentials@v4
         with:
           role-to-assume: ${{ inputs.aws-assume-role-arn}}
           role-session-name: GitHub_to_AWS_via_FederateOIDC
           aws-regions: ${{ inputs.aws-regions}}

       - name: Terraform Init
         run: |
           cd infra && terraform init \ 
            -backend-config="bucket=${{ inputs.aws-statefile-s3-bucket}}" \
            -backend-config="key=${{ github.event.repository.name}}" \
            -backend-config="region=${{ inputs.aws-region}}" \
            -backend-config="dynamodb_table=${{ inputs.aws-lock-dynamodb-table }}"
           
         
